.left-column {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill the height of its container */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.left-column h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.left-column p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.left-column strong {
  font-weight: 600;
  color: #555;
}

@media (max-width: 768px) {
  .left-column {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
}

.top-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.bottom-component {
  height: 40%; /* Adjust this value to balance with top-component */
  min-height: 700px; /* Ensure a minimum height for the chat */
  display: flex;
  flex-direction: column;
  background-color: white;/* Add some space between top and bottom components */
}

.panel {
  background-color: #F6F6F6;
  overflow: hidden;
  max-height: 40px;
  flex-grow: 0;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.panel.open {
  max-height: none;
  flex-grow: 1;
}

.panel.transcripts {
  top: 0;
}

.panel.searches {
  bottom: 0;
}

.panel.transcripts.open {
  bottom: 40px; /* Height of the closed panel */
}

.panel.searches.open {
  top: 40px; /* Height of the closed panel */
}

.panel h3 {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  background-color: #d9d9d9;
  color: black;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel h3 .arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.panel.open h3 .arrow {
  transform: rotate(180deg);
}

.panel-content {
  height: calc(100% - 40px); /* Subtract the header height */
  overflow-y: auto;
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.chevron-icon.open {
  transform: rotate(180deg);
}

.smart-search-list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.smart-search-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.smart-search-list select {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.smart-search-list span {
  font-size: 16px;
  color: #333;
}

.circle-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6B3EF9;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.circle-checkbox.checked {
  background-color: #6B3EF9;
}

.circle-checkbox .inner-circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-checkbox.disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: #555;
}

.sentiment-text.positive {
  border-bottom: 2px solid rgba(0, 128, 0, 0.5);
  padding-bottom: 2px;
  margin-right: 5px;
}

.sentiment-text.negative {
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
  padding-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

